.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 50%;
  border: 8px solid #64a6fe;
  border-top: 8px solid #036dfd;
  animation: spinner 0.7s linear infinite;
  z-index: 2;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

code {
  display: none !important;
}
.directions {
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 40px 60px 0;
}
.directions > span {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.directions > button {
  background-color: white;
  color: black;
  min-width: 48px;
  min-height: 48px;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0 60px 0 0;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  outline: none;
}
.error {
  display: none !important;
}

/*=== End Base ===*/

.hiddenSection {
  display: none;
}

.myPage {
  margin: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: start;
  max-width: 550px;
}

.myPage > hr {
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.buttons-container > button {
  background-color: white;
  color: black;
  width: 80px;
  min-height: 48px;
  font-size: 1.2rem;
  padding: 10px;
  margin: 0 60px 10px 0;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  outline: none;
}

.para-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: start;
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

.para-container > p {
  line-height: 1.75rem;
}

.fourthPara {
  font-family: "Times New Roman";
  background-color: darkblue;
  color: #fff;
  padding: 1rem;
  margin: 0;
  border-radius: 10px;
}

.fourthPara:nth-child(odd) {
  margin-top: 1rem;
}
